---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Description from "../components/description.astro";
import Container from "../components/container.astro";
import FormComponent from "../components/formComponent.astro";
---

<Layout title="My Tools | Gradients">
    <Header link="index.html"/>
    <Description title="Gradients" textHead="Aquí econtraras todos lo gradientes que más utilizó"/>
    <main>
        <Container title="Ingre el gradinet en heaxedecimal" addClass="hidden"/>
        <FormComponent name="Crear gradiente" client:load link="/src/scripts/gradients.js"/>
    </main>
</Layout>